transformers==4.42.4
datasets==2.20.0
accelerate==0.32.1
peft==0.11.1
trl==0.9.6
gradio>=4.0.0
scipy
einops
sentencepiece
tiktoken
protobuf
uvicorn
pydantic
fastapi
sse-starlette
matplotlib>=3.7.0
fire
packaging
pyyaml
deepspeed==0.14.4
autoawq==0.2.5
metrics
bitsandbytes
rouge-chinese
jieba
peft==0.11.1
flash_attn==2.6.1
pandas
git+https://github.com/unslothai/unsloth.git#egg=unsloth[cu121-torch220]